<nav>
    <div id="pagination">
        <div class="pagination-item-spacer">&nbsp;</div>
        {{if .HasPrev}}
            <div class="pagination-item">
                <a alt="Articoli più recenti" href="{{ .Prev.URL }}">&larr; Più recenti</a>
            </div>
        {{ else }}
            <div class="pagination-item-spacer">&nbsp;</div>
        {{end}}
		{{if ne .TotalPages 1 }}
			<div class="pagination-item-spacer">
				Page {{ .PageNumber }} of {{ .TotalPages }}
			</div>
        {{end}}
        {{if .HasNext}}
            <div class="pagination-item">
                <a alt="Articoli meno recenti" href="{{ .Next.URL }}">Meno recenti &rarr;</a>
            </div>
        {{ else }}
            <div class="pagination-item-spacer">&nbsp;</div>
        {{end}}
        <div class="pagination-item-spacer">&nbsp;</div>
    </div>
</nav>
